
body{
  font-family: Arvo, serif;
  background: url(../img/bg.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

.logo {
  height: 35px;
}

.me {
  width: 800px;
  height: 400px;
}

.navbar-inverse {
  background: rgba(16, 28, 35, 0.5);
}

.nav li{
  color: #fff;
  font-size: 19px;
  margin-right: 35px;
  padding: 10px 0;
}

.nav li:hover {
  border-bottom: 1px solid #00FFB8;
  padding-bottom: 9px;
  cursor: pointer;
}


#container {
    max-width: 980px;
    margin: 0 auto;
    padding-top: 15px;
}

.square {
    width: 200px;
    height: 300px;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 5%;
    transition: background .5s;
    -webkit-transition: background .5s; 
    -moz-transition: background .5s; 
}

#one {
  background: url(../img/moviefight.png) no-repeat center center;
  background-size: cover;
}

#two {
  background: url(../img/colorgame.png) no-repeat center center;
  background-size: cover;
}

#three {
  background: url(../img/gallery.png) no-repeat center center;
  background-size: cover;
}

#four {
  background: url(../img/message.png) no-repeat center center;
  background-size: cover;
}

#five {
  background: url(../img/tap.png) no-repeat center center;
  background-size: cover;
}

#six {
  background: url(../img/todo.png) no-repeat center center;
  background-size: cover;
}

#seven {
  background: url(../img/randomcard.png) no-repeat center center;
  background-size: cover;
}

#eight {
  background: url(../img/maze.png) no-repeat center center;
  background-size: cover;
}


#container img {
  margin-left: 47px;
  margin-top: 50px;
  width: 110px;
  height: 120px;
}

.flip {
  position: relative;
  background: url("../img/logi.png") no-repeat center center;
  background-size: cover;
  margin-left: 45px;
  margin-top: 95px;
  max-width: 110px;
  height: 120px;
  perspective: 1000px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipText {
  font-family: fantasy;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 45px;
  padding-left: 10px;
  width: 100px;
  height: 100px;
}

.flip:hover {
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

/*.footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: grey;
  font-size: 15px;
  padding: 10px 0;
}*/