body {
    background: linear-gradient(90deg, rgb(32, 44, 112), white);
}

#btn {
    display: flex;
    justify-content: center;
}

#para {
    color: black;
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-shadow: 2px 3px 5px black;
    font-weight: normal;
    font-size: 30pt;
    word-spacing: 5px;
    text-transform: uppercase;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13pt;
    font-weight: normal;
    color: rgb(252, 245, 245);
    background: rgb(107, 109, 253);
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 15px;
    text-transform: uppercase;
    margin: 1px;
    transition: all 0.3s;
    text-shadow: 1px 1px 1px black;
    box-shadow: 3px 5px 6px black;
    word-spacing: 1px;
}

button:hover {
    /* background: rgb(233, 90, 39); */
    color: white;
    transform: scale(1.1);
    box-shadow: 0px 8px 16px rgba(54, 179, 127, 0.24);
    text-shadow: 1px 1px 1px black;
}

button:active {
    background: rgb(233, 90, 39);
    color: white;
    transform: scale(1.1);
    text-shadow: 1px 1px 1px black;
}


p {
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, 'sans-serif';
    font-size: 25pt;
    color: white;
    text-shadow: 2px 3px 4px black;
    margin-top: 12px;
}

img {
    margin-top: 20px;
    height: 280px;
    width: 200px;
    box-shadow: 3px 9px 10px black;
    border: 1.5px solid black;
    border-radius: 15px;
}

#text {
    text-transform: capitalize;
}